/*============= VARIABLES CSS AREA ===============*/
//====== font family===== 
$font-1: "Crimson Text", serif;
$font-2: "IBM Plex Sans", sans-serif;

$base_font_size:16px;
$small_font_size: 16px;
$body_font_size: 20px;
$heading1_size: 75px;
$heading2_size: 42px;
$heading3_size: 32px;
$heading4_size: 24px;
$heading5_size: 56px;

$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$extra_bold: 800;
$black: 900;

//======== bg all=======
$bg-color1: #F3EDE6;
$bg-color2: #FB8500;
$bg-color3: #1E2F85;
$bg-color4: #ECF6F7;
$bg-color5: #F3EDE6;
$bg-color6: #F9F9F9;
$bg-color7: #B4CDAC;
$bg-color8: #F9C067;
$bg-color9: #6A26DD;
$bg-color10: #FCFAFF;
$bg-color11: #EDE5FC;
$bg12:rgba(30, 47, 133, 0.10);
$bg13:rgba(106, 38, 221, 0.10);
$bg14:#4f4747;
$bg15:#E7EEFB;
$bg16:#efe4d8;
$bg17:#F6F6F6;
$bg18:#FAFAFA;
$bg19:#FAF8F5;
$bg20:#FBFAF7;
$bg21:#EDEFF6;
$bg22:#A0A9CC;
$bg23:#F8F9FB;
$bg24:#566BD1;
$bg25:#8953E5;
$bg26:#E8DDFA;
$bg27:rgba(255, 255, 255, 0.40);
$bg28:#E1D4F8;
$bg29:#F0E9FC;
$bg30:#FBF8FE;
$bg31:#E7EFF0;
$bg32:#F3F7F8;
$bg33:#CEDFE1;
$bg34:#DBEBE9;
$bg35:#ADCBC2;
$bg36:#E5F9F8;
$bg37:#F9FFFF;
$bg38:#E0F9F8;
$bg39:#F6F9F8;
$bg40:#F2FCFB;
$bg41:#ECF3F0;
$bg42:#202124;
$bg43:#ADC9A6;
$border1:#D9D9D9;
$border2:#E6E6E6;
$border3:#F0F1F0;
$border4:#CECFCF;
$border5:#EFEFEF;
$border6:#CED4DA;
$border7:#F3F3F3;


//======== text all=======
$black:#000;
$color-w: #fff;
$title-color1: #1A1E25;
$pera-color1: #8E9093;
$color1: #636363;
$color2:#495057;
$color3:var(--Paragraph-Color, rgba(8, 17, 13, 0.60));
$color4:#495057;
$color5:#FAC744;
$color6:#090D14;
$color7:#0B5D6A;
$color8:#00C3B7;
$color9:#04AEA4;
$color10:#CF7107;

//======== transitions all=======

$trans1: all .4s ease-in-out;
$trans2: all .6s ease-in-out;
$trans3: 0.9s;

/*============= VARIABLES CSS AREA ENDS===============*/

